{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login_style.css' %}">
{% block content %}
<!-- <div class="container my-3">
    <form method="post" action="{% url 'common:login' %}">
        {% csrf_token %}
        {% include "common/form_errors.html" %}
        <div class="mb-3">
            <label for="username">사용자ID</label>
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div> -->

<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700&display=swap" rel="stylesheet">
  <title> log-in page </title>
</head> -->
<body>
  <main class="main-content">
<header">
  <div class="logoname">
    <a href="index.html"><img src=images/logo.png></a>
  </div>
</header>
    
  </main>

  <div class="login-box">
    <div class="hello"> Hello! &#128075; </div>
    
    <form method="post">
      
        <div class="text-field-email">
          <input type="text" placeholder="E-mail" required>
        </div>
      
        <div class="text-field-password">
          <input type="password" placeholder="Password" required>
        </div>
  
        <div class="login">          
          <button class="login-btn"> Login </button>
        </div>
        
        <p>First time here? <a href="signup.html"> Sign Up </a></p>
    </form>
    
  </div>

</body>
{% endblock %}