.container-post {
  max-width: 800px;
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-right: auto;
  margin-left: auto;
}

.python {
  padding-top: 0.5rem!important;
}