{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block content %}
<section class="_1fvfhai0">
<div class="_1nvz3xs0"><div class="_1nvz3xs1 korcsc0"><a class="_1nvz3xs2" href="/" aria-label="logo"><span class="_1nvz3xs3"><img class="logo" width="120" height="28" viewBox="0 0 100 28" src="/static/img/logo.png">
</span></a><nav class="_1nvz3xsk korcsc0"><ul class="_1nvz3xsm korcsc5"><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/">Sharespace</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/assistance" style="font-weight:600; color: #795CED;">Assistance</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/programs">Programs</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2 _1nvz3xsq" href="/connect">Connect</a></li></ul></nav><div class="korcsc1 korcsc0"><span><span class="_1nvz3xs9"><input class="_1nvz3xsb" placeholder="Search for an item" value=""></span></span><span><button type="button" class="search_button">Search</button></span></div></div></div>
</section>
<section class="_1ff3f300 _1ff3f302">
  <h2 class="subtitle">Near me</h2>
<div class="data_table">
{% if postings_list %}
{% for posting in postings_list %}
  <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://dnvefa72aowie.cloudfront.net/realty/realty/articles/64c72dedbb25e018123c23a1fe2ed0597f6a4f7fd0e086fcd58d65e12818423b_1661987156388.jpeg?q=95&amp;s=1440x1440&amp;t=inside" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">{{ posting.title }}</p>
          <p class="data-text">{{ posting.content }}</p>
          <p class="mile-text">Less than 3 miles away</p>
        </div>
      </article>
    </a> 
  </div>
{% endfor %}
{% endif %}
</div>
<div><a href="#" id="question-button" class="btn btn-primary-main"><img src="/static/img/edit.png" width="35">&nbsp;Add</a></div>
</section>
<footer>
    <p style="margin-bottom:300px;">Copyright ©ParentAlly 2023. All rights reserved. | <a href="mailto:mslee300@bu.edu" class="credits">Contact</a></p>
</footer>
{% endblock %}

  