{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block content %}
<section class="_1fvfhai0">
<div class="_1nvz3xs0"><div class="_1nvz3xs1 korcsc0"><a class="_1nvz3xs2" href="/" aria-label="logo"><span class="_1nvz3xs3"><img class="logo" width="120" height="28" viewBox="0 0 100 28" src="/static/img/logo.png">
</span></a><nav class="_1nvz3xsk korcsc0"><ul class="_1nvz3xsm korcsc5"><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/">Sharespace</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/assistance" style="font-weight:600; color: #795CED;">Assistance</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/programs">Programs</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2 _1nvz3xsq" href="/connect">Connect</a></li></ul></nav><div class="korcsc1 korcsc0"><span><span class="_1nvz3xs9"><input class="_1nvz3xsb" placeholder="Search for an item" value=""></span></span><span><button type="button" class="search_button">Search</button></span></div></div></div>
</section>
<section class="_1ff3f300 _1ff3f302">
  <h2 class="subtitle">Near me</h2>
<div class="data_table">
<!-- {% if postings_list %}
{% for posting in postings_list %}
  <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://dnvefa72aowie.cloudfront.net/realty/realty/articles/64c72dedbb25e018123c23a1fe2ed0597f6a4f7fd0e086fcd58d65e12818423b_1661987156388.jpeg?q=95&amp;s=1440x1440&amp;t=inside" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">{{ posting.title }}</p>
          <p class="data-text">{{ posting.content }}</p>
          <p class="mile-text">Less than 3 miles away</p>
        </div>
      </article>
    </a> 
  </div>
{% endfor %}
{% endif %} -->



  
  <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://i.insider.com/6116a07f3dd01000199d9aa7?width=1200&format=jpeg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Free vacuum cleaner</p>
          <p class="data-text">I'm giving out a free vaccum cleaner to those in need</p>
          <p class="mile-text">Less than a miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://images.squarespace-cdn.com/content/v1/586d154f03596e5605562ea7/1582916078276-XB3ODZY16D61TN28DQBN/tiny+homes+9.jpg?format=1000w" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Free rental assistance for single parents</p>
          <p class="data-text">We're offering free rental assistance to single parents with babies</p>
          <p class="mile-text">Less than 2 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://images.pexels.com/photos/1395323/pexels-photo-1395323.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Free donut from local church</p>
          <p class="data-text">giving out free donut every sunday</p>
          <p class="mile-text">Less than 2 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://static01.nyt.com/images/2021/02/04/science/04BABYFOOD1/merlin_183200505_5c0cb430-1fd2-4731-bcf4-60ac41a0d642-videoSixteenByNine3000.jpg?year=2021&h=1687&w=3000&s=7e14534ef0c7cb4813bd1146f96d9a07a5e077aa50c7f30a358d57bafe812579&k=ZQJBKqZ0VN&tw=1" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Free baby food</p>
          <p class="data-text">Foodbank is giving out free baby food</p>
          <p class="mile-text">Less than 3 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://m.media-amazon.com/images/I/61E7CRrZEHL._AC_UF1000,1000_QL80_.jpg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Giving out this cute baby coat for the winter</p>
          <p class="data-text">I'm giving out my son's baby coat because he grew up so much</p>
          <p class="mile-text">Less than 7 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://communityclothescloset.org/wp-content/uploads/2021/08/Back-Wall-Photo.jpg" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Free clothes from Goodwill</p>
          <p class="data-text">Goodwill is giving free baby clothes this Wednesday</p>
          <p class="mile-text">Less than 10 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://cdn.britannica.com/31/122031-050-F8FCA663/Hamburger-cheeseburger.jpg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Giving our free hamburgers</p>
          <p class="data-text">We're giving out delicious hamburgers for those who are hungry</p>
          <p class="mile-text">Less than 12 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://m.media-amazon.com/images/I/81gcsP3faRL.jpg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Free water for the thirsty ones out there</p>
          <p class="data-text">We're handing out free water bottles</p>
          <p class="mile-text">Less than 13 miles away</p>
        </div>
      </article>
    </a> 
  </div>


  
  
</div>
<div><a href="#" id="question-button" class="btn btn-primary-main"><img src="/static/img/edit.png" width="35">&nbsp;Add</a></div>
</section>
<footer>
    <p style="margin-bottom:300px;">Copyright ©ParentAlly 2023. All rights reserved. | <a href="mailto:mslee300@bu.edu" class="credits">Contact</a></p>
</footer>
{% endblock %}

  