{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block content %}
<section class="_1fvfhai0">
<div class="_1nvz3xs0"><div class="_1nvz3xs1 korcsc0"><a class="_1nvz3xs2" href="/" aria-label="logo"><span class="_1nvz3xs3"><img class="logo" width="120" height="28" viewBox="0 0 100 28" src="/static/img/logo.png">
</span></a><nav class="_1nvz3xsk korcsc0"><ul class="_1nvz3xsm korcsc5"><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/">Sharespace</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/assistance">Assistance</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2" href="/programs">Programs</a></li><li class="_1nvz3xso"><a class="_1nvz3xsp korcsc4 korcsc2 _1nvz3xsq" href="/connect" style="font-weight:600; color: #795CED;">Connect</a></li></ul></nav><div class="korcsc1 korcsc0"><span><span class="_1nvz3xs9"><input class="_1nvz3xsb" placeholder="Search for an item" value=""></span></span><span><button type="button" class="search_button">Search</button></span></div></div></div>
</section>
<section class="_1ff3f300 _1ff3f302">
  <h2 class="subtitle">Near me</h2>
<div class="data_table">
<!-- {% if postings_list %}
{% for posting in postings_list %}
  <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://dnvefa72aowie.cloudfront.net/realty/realty/articles/64c72dedbb25e018123c23a1fe2ed0597f6a4f7fd0e086fcd58d65e12818423b_1661987156388.jpeg?q=95&amp;s=1440x1440&amp;t=inside" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">{{ posting.title }}</p>
          <p class="data-text">{{ posting.content }}</p>
          <p class="mile-text">Less than 3 miles away</p>
        </div>
      </article>
    </a> 
  </div>
{% endfor %}
{% endif %} -->

      <div class="data_box">
    <a href="/details7">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://embed.widencdn.net/img/beef/mhtiyftyxo/1120x630px/photo%20dec%2012,%2010%2028%2054%20am-2.jpg?keep=c&u=nvwl20" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Tip on feeding babies</p>
          <p class="data-text">I just had a newborn and wondering how I could</p>
          <p class="mile-text">Less than 3 miles away</p>
        </div>
      </article>
    </a> 
  </div>



  
  <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://www.shutterstock.com/image-photo/head-shot-portrait-close-smiling-260nw-1714666150.jpg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Looking for other single parents</p>
          <p class="data-text">I just became a single parent and I'd like to receive some advice please</p>
          <p class="mile-text">Less than a miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://media.istockphoto.com/id/1300512215/photo/headshot-portrait-of-smiling-ethnic-businessman-in-office.jpg?s=612x612&w=0&k=20&c=QjebAlXBgee05B3rcLDAtOaMtmdLjtZ5Yg9IJoiy-VY=" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Looking a baby expert friend</p>
          <p class="data-text">I'm looking for a new friend who know a lot about baby</p>
          <p class="mile-text">Less than 3 miles away</p>
        </div>
      </article>
    </a> 
  </div>




    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="http://cdn.shopify.com/s/files/1/1550/1093/collections/2016-04-16-09.16.12-Copy.jpg?v=1660832260" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Let's trade baby clothes</p>
          <p class="data-text">I'd like to trade my baby clothes with others'</p>
          <p class="mile-text">Less than 4 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://res.cloudinary.com/babylist/image/upload/f_auto,q_auto:best,c_scale,w_768/v1655743296/hello-baby/Best_Gender_Neutral_Baby_Clothes_header.jpg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">What should I name my newborn</p>
          <p class="data-text">I'm a single parent who just had a newborn. What should I name her?</p>
          <p class="mile-text">Less than 7.5 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://content.gallup.com/origin/gallupinc/GallupSpaces/Production/Cms/POLL/q2ul9gqwwkacpwufavxjsa.jpg" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Who wants to attend church with me</p>
          <p class="data-text">I just moved here and looking for a church friend</p>
          <p class="mile-text">Less than 11 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://ymcactx.org/dev/wp-content/uploads/adobestock_211758624.jpeg" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">Looking for my son's friend to play soccer with</p>
          <p class="data-text">My son wants to play soccer but I'm terrible at it so..</p>
          <p class="mile-text">Less than 14 miles away</p>
        </div>
      </article>
    </a> 
  </div>


    <div class="data_box">
    <a href="#">
      <article class="flex_data">
        <div class="picture-box">
          <span style="box-sizing:border-box;display:block;overflow:hidden;background:none;opacity:1;"><img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/2yo_daughter.jpg" decoding="async" data-nimg="fill" class="_19qbbiq0 _19qbbiq1 w7pzr9a" style="width:108;height:108;border-radius:8px;">
          </span>
        </div>
        <div class="text-box">
          <p class="data-title">My daugther is having some issues</p>
          <p class="data-text">My daughter is having a rough puberty and I don't know what to do</p>
          <p class="mile-text">Less than 15 miles away</p>
        </div>
      </article>
    </a> 
  </div>

  
  
</div>
<div><a href="#" id="question-button" class="btn btn-primary-main"><img src="/static/img/edit.png" width="35">&nbsp;Add</a></div>
</section>
<footer>
    <p style="margin-bottom:300px;">Copyright ©ParentAlly 2023. All rights reserved. | <a href="mailto:mslee300@bu.edu" class="credits">Contact</a></p>
</footer>
{% endblock %}

  